@include for-size(desktop) {
	
	body.projet,
	body.page_about,
	body.page_index{

		main{
			width: calc(#{$main-width-desktop});
			z-index: 1;
			padding-left: $unite*2;
			padding-right: $unite*2;
			padding-top: $baseline*1;
			padding-bottom: $baseline*2;
			margin-top: 0;					
		}	
	}
}