@include for-size(phone) {
	
	body.projet,
	body.page_about,
	body.page_index{

		main{
			width: calc(#{$main-width-phone});
			margin: auto;
			//padding: $baseline $unite-phone;
			box-sizing: border-box;
			z-index: 5;
		}
	}
}