{{ define "main" }}
	<main>
	{{ $media := ($.Site.GetPage "section" "media_library").Resources.Match "couverture/*"  }}

	{{ range first 1 $media }}
		{{ $instagram := .Resize "200x" }}


		<section id="couverture">
			<a href="{{ $.Site.Params.instagram }}" alt="Visiter le compte instagram de Marine Kaiser">
				<img src='{{ $instagram.Permalink }}'>
			</a> 
		</section>
	{{ end }}
	</main>
{{ end }}