<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8">

    <title> {{ block "title" . }}{{ .Title}} - {{ .Site.Title }}{{ end }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ .Params.description_projet }} ">
    <meta name="keywords" content="{{ range .Params.mot_cle_projet }} {{ . }} {{ end }}">
    <meta name="author" content="{{ range .Params.auteur_du_projet }} {{ . }} {{ end }}">

    {{ $common := resources.Get "js/color.js" | minify }}
    <script src="{{ $common.Permalink }}"></script>
    
    {{ $font := resources.Get "fonts/faune/stylesheet.css" | minify }}
    <link rel="stylesheet" href="{{ $font.Permalink }}" type="text/css" > 

    {{ $font_2 := resources.Get "fonts/open_sans/stylesheet.css" | minify }}
    <link rel="stylesheet" href="{{ $font_2.Permalink }}" type="text/css" >

    {{ block "style" . }}
        {{ $options := (dict "targetPath" "css-compiled/global.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
        {{ $styles := resources.Get "scss/global_web.scss" | resources.ToCSS $options }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" >
    {{ end }}

</head> 

<body  class="{{ .Params.type }} page_{{ .Params.id }}">

	{{ block "fragments" . }}
		{{ partial "side.html" . }} 
	{{ end }}

	{{- block "main" . }} {{- end }}
	
    {{ partial "footer.html" . }}

    {{ block "scripts" . }}
        {{ $common := resources.Get "js/common.js" | minify }}
        <script src="{{ $common.Permalink }}"></script>
    {{ end }}

</body>
</html> 
