/* desktop */
$unite: 25px;
$list-open-width-medium: 350px;
$list-open-width: 33vw;
$main-width-desktop: 100vw - #{$unite * 4};
$main-width-desktop-max: 1200px;

/*  phone  */
$unite-phone: 10px;
$main-width-phone: 100vw - #{$unite-phone * 2};
$list-minified-height: #{$baseline*4};



/*  bordures  */
$border: 0.5px solid $text-color;
$border-light: 0.5px solid #ccc;

/*  autre */
::selection, ::-moz-selection{
    background: $color;
    color: $background-site;
} 

@mixin text-overflow($value: ellipsis) {
    @if $value == clip {
		text-overflow: clip;
	}
	@else {
		text-overflow: $value;
	}
	white-space: nowrap;
	overflow: hidden;
}
