@include for-size(phone) {
    html {overflow-x: hidden; }
    body{
    }
}

@include for-size(desktop) {
    body{
        margin: 0 !important;
        overflow-x: hidden;
    }
}

a:hover{ color: rgba( var(--color), .6); }

label{
    .span-nochecked{ display: block; }
    .span-checked{ display: none; }
}
input:checked + label{
    .span-nochecked{ display: none; }
    .span-checked{ display: block; }
}
 

/////////////////////
////// Scrolltop ///
///////////////////

.scrolltop{
    position: fixed;
    z-index: 999;
    //bottom: $unite*3;
    bottom: $baseline*2;
    right: $unite*2;
    a{
        position: relative;

        @include for-size(phone) {
            display: none;
        }
 
        @include font-size-40();
        transition: .5s linear;

        &:hover{
            color: black;
            transition: .5s linear;
        }
    }
}


////////////////
/// The grid //
//////////////


/* Settings */
:root {
  --offset: 1.5rem;
  --max_width: 72rem;
  --columns: 2;
  --gutter: .5rem;
  --baseline: 15px;
  --baseline-shift: 2rem;
  --color: hsla(204, 80%, 72%, 0.25);
  --media-query: 'base';
}

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    black,
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  );
}

////////////
// Aria
///////////

.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}