aside#side{

	[data-type=""]{ display: none;}


	header{
		position: fixed;
		h1{ font-weight: bold;}
	}

	label.button-menu{ cursor: pointer; }

	nav{

		.about{
			font-style: italic;
		}

		.list_projet{
			
			.item{
				transition: .25s ease-in-out;
				margin: 0 0 $baseline/2 0;
				cursor: pointer;

				&:after{
					content: "";
					position: absolute;
					width: calc( 100% + #{$unite*1.5} );
					max-width: 100vw;
					height: 100%;
					top: 0;
					left: $unite*-1;
					background: var(--color);
					opacity: 0.00;
					z-index: -1;
					mix-blend-mode: multiply;
				}
				&:hover:after{
					opacity: 0.10;
				}
				&.affinites{
					a:after{
						content: "‧";
						padding-left: 5px;
						font-size: 16px;
						transition: .25s linear;
					}
				}
			}

			&.OnAffinites{
				li.item:not(.OnAffinites){ opacity: .3; transition: .25s ease-in-out; }
				//li.OnAffinites a:after{ opacity: 1; }
			}				
		}
	}
}
