@include for-size(phone) {

	aside#side{
		position: absolute;
		max-height: 0;
		//border-right: $border;
		//border-color: var(--color);
		

		width:100%;
		top: 100vh;
		left: 0;
		transition: .33s ease-in-out;

		box-sizing: border-box;
		background: var(--bg_color);
		//border-color: rgba($text-color, .1);
		overflow: hidden;
		z-index: 6;

		/*&:before{
			content: "";
			position: absolute;
			top: $baseline*3;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--bg_color);
			z-index: -1;

		}*/

		/*.hide_the_scrollbar {
		    overflow-x: hidden;
		    height: auto;
		}*/

		li, h1{ @include font-size-16;}

		nav{
			//margin-top: $baseline*2;
			overflow-x:auto;
			/*width: -webkit-calc(100% + #{$unite*2});
			width: moz-calc(100% + #{$unite*2});
			width: calc(100% + #{$unite*2});
			height: -webkit-calc(100vh + #{$baseline*3});
			height: moz-calc(100vh + #{$baseline*3});
			height: calc(100vh + #{$baseline*3});			
			padding-right: $unite*2;*/	
				
			> ul{
				padding-bottom: $baseline*10;
				/*width: -webkit-calc(100% - #{$unite*2});
				width: moz-calc(100% - #{$unite*2});
				width: calc(100% - #{$unite*2});*/
			}

			.list_projet{
				margin-top: $baseline*1.5;
			}
		}
	}

	header#top{
		display: inline-block;
		width: auto;	
		z-index: 6;
		top: 0;
		left: 0;
		padding: $baseline $unite-phone 0 $unite-phone;
		box-sizing: border-box;
		

		h1{
			@include font-size-20;
			font-weight: 700;
			left: 0;
			transition: .33s ease-in-out;
			
			.suffixe{
				max-width: 100%;
				transition: .33s ease-in-out;
			}
			.collaboration{
				opacity: 1;
				transition: .33s ease-in-out;
			}
		}
	}	

	//////////////
	/// Interaction
	////////////

	aside#side{

		label.button-menu{

			position: fixed;
			bottom: $baseline*-1;
			right: 0;
			z-index: 7;
			transform: rotate(-90deg);
		}

		.hack_logo{
			display: none;
			/*position: absolute;
			top: 0;
			left: 0;
			width: $list-open-width;
			@include for-size(desktop-1200){ width: $list-open-width-medium; }			
			height: $baseline*3;
			content: "";
			z-index: 99;*/
		}		
	}

	.hack_background{
		display: none;
		/*position: fixed;
		top: 0;
		left: $list-open-width*-1;
		width: $list-open-width;
		@include for-size(desktop-1200){ 
			left: $list-open-width-medium*-1;
			width: $list-open-width-medium; 
		}
		height: $baseline*3;
		z-index: 2;
		background: var(--bg_color);
		transition: .33s ease-in-out;*/
	}

	#button-menu:checked{

		&~ aside#side{
			padding: $baseline*3 $unite-phone 0 $unite-phone;
			max-height: 1000vh;
			min-height: 100vh;
			top: 0;
			transition: .33s ease-in-out;
			label.button-menu{ }
		}	

		&~ header#top{
			
			position: fixed;
			top: 0;
			left: 0;
			background: var(--bg_color);
			width: 100%;			
			z-index: 7;
			
			h1{

				/*.suffixe{
					max-width: 0;
					visibility: collapse;
					transition: .33s ease-in-out;
					display: inline-block; // Annihile l'espace

				}
				*/
				.collaboration{
					opacity: 0;
					transition: .33s ease-in-out;
				}
			}
		}

		&~ main{
			// Stay at your position

			position: fixed;
		}

		&~ .hack_background{
			//left: -1px;
			//transition: .33s ease-in-out;
		}
	}
}
