<input type="checkbox" name="button-menu" id="button-menu" hidden />

<aside id="side">
	<a class="hack_logo" href="{{.Site.BaseURL}}"></a>
	<label class="button-menu" for="button-menu" id="label_tong">	
		{{ partial "svg/tong.svg"}}
	</label>	
	<div class="hide_the_scrollbar">
		<nav>
			<ul>
				<li class="about">
					<a href="{{.Site.BaseURL}}about.html">Présentation</a>
				</li>
			
				<li class="projet list_projet">
					<ul> 
					{{ range (where $.Site.Pages "Section" "project" ).ByDate.Reverse}}
						{{ if not (eq .Title "Projects" ) }}
							{{ if .Params.map }}
								<li data-title="{{ .Params.id }}" 
									class='item {{ if ( eq "_index" .File.BaseFileName )}}grand_projet{{ end }} 
									{{ if (isset .Params "cycle") }}affinites' 
										data-cycle='{{ .Params.cycle }}' 
										title="Ce projet a des affinités avec d'autres"
									{{ else }}
										' 
									{{ end }} >
								  	<a href="{{ .Permalink }}">{{ .Title }}</a>
								</li>
							{{ end }}							
						{{ end }}
					{{ end }}        
					
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</aside>

<header id="top">
	<h1>
		<a href="{{.Site.BaseURL}}" alt="Marine Kaiser">
			M<span class="suffixe">arine</span> K<span class="suffixe">aiser</span></a><span class="collaboration">{{ with .Params.collaboration_avec }}{{ if (eq (len .) 1)}} & {{else}}, {{ end}}{{ delimit . ", " " & "}}{{ end }}</span>
	</h1>
</header>

<span class="hack_background" ></span>


