body.projet{

	main{
		////
		// Type
		///////////


		h2.subtitle, section.page h1{
			margin: 0 !important;	
			@supports(-webkit-text-stroke: 1px var(--color)){
				-webkit-text-stroke: 1px var(--color);
				color: var(--bg_color);
			}					
		}

		section.texte{

			.content{
				p{ 
					margin-bottom: $baseline*2;
				}

				a{
					text-decoration: wavy;
					text-decoration-line: underline;
				}
			}

		}

		section.details_end{
			p{
				margin-bottom: $baseline;
			}
		}	

		/////
		// Layout
		//////////
		.details{display: none;}

		section.media{

			width: 100%;
			height: 100%;
			position: relative;
			margin: 0;
			padding: 0;

			.section {
				width: 100%;
				position: relative;

				div.container{

					width: 100%;
					height: 100%;
					text-align: center;
					font: 0/0 $font-main;

					figure{
						display: inline-block;							
						margin: 0 auto;						

						img{
							display: inline-block;
							vertical-align: middle;						
						}

						figcaption.over{
							visibility: hidden;
							opacity: 0;
							z-index: 9;
							transition: .15s .5s linear;

							background: white;
							border: 1px solid;
							border-radius: $unite;
						}
						span.over{
							&:hover + figcaption.over{
								visibility: visible;
								opacity: 1;
								transition: .25s 0s linear;
							}
						}
						figcaption.over:hover{
								visibility: visible;
								opacity: 1;
						}						
					}

					video, object{
						position: relative;
						display: block;
						margin: auto;
					}
				}
			}			
		}

		hr{
			border: none;
			width: 0;
		}	
		
		aside.related{ display: none;}
	}



	///////////// 
	//// Interaction
	//////////////

	section.media{
		.section {
			display: none;
		}
		@for $p from 0 through 9 {
			@for $i from 1 through 50 {
			    input#input_#{$p}_#{$i}:checked ~ #m#{$i} { display: block !important; }
			}
		}

		.prev_slide, .next_slide{
			position: absolute;
			width: $unite*4;
			height: 100%;
			top: 0;
			text-align: center;
			cursor: pointer;
			//transform: rotate(90deg);

			span{
				position: absolute;
				font-size: 40px;
				opacity: .3;
				mix-blend-mode: multiply;
				top: 50%;
				transform: translate(-50%);
			}
		}

		.prev_slide{ left: 0; }
		.next_slide{ right: 0;}

	}
}