@include for-size(phone) {

	
	body.projet{
		
		main{

			h1{
				@include font-size-25;
				font-style: italic;
			}

			h2.subtitle, section.page h1{
				@include font-size-25;
				font-style: italic;
				//margin-left: 10vw !important; 

				@supports(-webkit-text-stroke: .5px var(--color)){
					-webkit-text-stroke: .5px var(--color);
				}		
			}
			
			h1 + h2.subtitle{
				/*left: -webkit-calc(#{$unite} + 7.5vw );
				left: -moz-calc(#{$unite} + 7.5vw );
				left: calc(#{$unite} + 7.5vw );
				width: -webkit-calc( 100% - #{$unite} - 7.5vw );
				width: -moz-calc( 100% - #{$unite} - 7.5vw );
				width: calc( 100% - #{$unite} - 7.5vw );*/
				display: inline-block;
			}

			section.texte{
				max-width: 100%;
				margin-top: $baseline*1;

				.content{
					@include font-size-16;
					max-width: 100%;
					margin-top: $baseline;
				}
				
				.details{
					display: none;
					//margin: $baseline*2 0 $baseline*2 0;

					p{
						@include font-size-16;
						font-family: $font-second;
						display: inline-block;
						padding-right: $unite;
					}
				}
			}



			section.media {				
				width: 100%;

				.section{		
					
					height: 75vw;
					margin: $baseline*2 0;

					//div.container{ max-width: $main-width-phone; }

					img, video, object{
						max-height: 75vw;
						max-width: 80vw;
						//width: 100%;
					}

					div.container{


						div.contened{
								top: 50%;
								transform: translateY(-50%);
								
							figure{
								//width: 100%;
								max-height: 100%;

								span.over{
									position: absolute;
									top: 0;
									left: 90%;
									width: $unite*3.5;

									transform: translateY(-50%) translateX(-50%) rotate(20deg);
									display: block;
									cursor: pointer;
									z-index: 2;	
								}

								figcaption{
									@include font-size-16;
									text-align: left;
									bottom: $baseline*2;
									width: 100%;

									&.over{
										position: fixed;
										width: calc(100vw + #{$unite-phone*6});
										max-width: calc(100vw + #{$unite-phone*6});
										height: 20vh;
										min-height: 200px;

										top: 50%;
										left: $unite-phone*-4;
										transform: rotate(-2deg) translateY(-50%);

										border-top: 1px solid;
										border-bottom: 1px solid;
										padding: $baseline*2 $unite-phone*8;

										background: white;
										overflow-y: scroll;
										box-sizing: border-box;
										z-index: 9 !important;

										.contexte{
											font-style: italic;
											padding-bottom: $baseline*2;
										}
										.description{
											padding: $baseline 0;									
										}
									}
									.canvas{ display: none;}
								}					
							}
						}
					}
				}

				.prev_slide, .next_slide{
					height: $unite*4;
					top: 50%;
					transform: translateY(-50%);
				}

				.prev_slide{ text-align: left; }
				.next_slide{ text-align: right; }
				svg.to_right, svg.to_left { width: $unite; }
			}			

			.details_end{
				margin: $baseline*3 0 $baseline*6 0;

				p{
					@include font-size-12;
					margin: auto;
					text-align: left;
					&::first-letter{ text-transform: uppercase; }
				}
			}
		}

		/////////////////
		/// Grands projets
		////////////////

		section#main{
			//margin-bottom: $baseline*4;
						
		}
		section.page{
			margin-bottom: $baseline*4;			
		}		
	}
}